{% extends './plantilla.html' %}
{% load static %}

{% block body %}
<br>
<h1 class="text-center">LISTADO DESARROLLADOR </h1>
<hr>

<div class="row">
    <div class="text-end">
        <a href="nuevoDesarrollador " class="btn btn-success bg-info">
        Agregar Desarrollador 
        </a>
    </div>
</div>
<br>
<table  class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>    
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>ESPECIALIDAD</th>


            <th>ACCIONES</th> 
        </tr>
    </thead>
    <tbody>
        {% for desarrolladorTemporal in Desarrollador %}
            <tr>
                <td>{{desarrolladorTemporal.id}}</td>
                <td>{{desarrolladorTemporal.nombre}}</td>
                <td>{{desarrolladorTemporal.apellido}}</td>
                <td>{{desarrolladorTemporal.especialidad}}</td>

                <td>  

                    <a href="#" 
                    onclick="editarDesarrollador('{{desarrolladorTemporal.id}}');"
                    class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>           
                    <a href="#"
                    onclick="eliminarProyecto('{{desarrolladorTemporal.id}}');"
                     class="btn btn-outline-danger">
                     <i class="fa fa-trash"></i>
                    </a>
                    
                </td>
                
            </tr>
            
        {%endfor%}       
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function eliminarProyecto(id) {
        Swal.fire({
            title: "Confirmacion?",
            text: "Seguro que desea eliminar!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                
                    window.location.href = "/eliminarProyecto/" + id;
                }
        });
    }
</script>

<script>
    function editarDesarrollador(id) {
        Swal.fire({
            title: "Confirmacion?",
            text: "Seguro que desea editar !",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Editar"
        }).then((result) => {
            if (result.isConfirmed) {
                
                    window.location.href = "/editarDesarrollador/" + id;
                }
        });
    }
</script>






<br><br><br><br><br><br>
{% endblock %}

