{% extends './plantilla.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>EDITAR PROYECTO </h1>
        <form action="/actualizandoProyecto/" id="form_proyecto" 
        method="post" >
            {% csrf_token %}
            <input  type="hidden" name="id" id="id" value="{{proyectoEditar.id}}"><br>

            <label for="">Nombre</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{proyectoEditar.nombre}}"><br>
            <label for="">Descripción</label><br>
            <input class="form-control" type="text" name="descripcion" id="descripcion" value="{{ proyectoEditar.descripcion }}"><br>
            <label for="">Fecha</label><br>
            <input class="form-control" type="date" name="fecha_inicio" id="fecha_inicio" value="{{proyectoEditar.fecha_inicio}}"><br>

            <button
            class="btn btn-success" type="submit">Actualizar</button>
            <a 
            class="btn btn-outline-danger" href="/inicio">Cancelar</a>
        </form>
    
    </div>
    
</div>
<!--embeber codiog javascript/jquery-->

<script>
    $("#form_desarrollador").validate(
        {
            rules:{
                "nombre":{
                    required:true,
                    minlength:4,
                    maxlength:20
                },
                "apellido":{
                    required:true,
                    minlength:4,
                    maxlength:20
                },
                "especialidad":{
                    required:true,
                    minlength:4,
                    maxlength:20
                },
            },
            messages:{
                "nombre":{
                    required:"Ingrese el nombre del evento",
                    minlength:"Mínimo 4 letras",
                    maxlength:"Máximo 20 letras"
                },
                 "apellido":{
                    required:"Ingrese el apellido",
                    minlength:"Mínimo 4 letras",
                    maxlength:"Máximo 20 letras"
                },
                "especialidad":{
                    required:"Ingrese la especialidad",
                    minlength:"Mínimo 4 letras",
                    maxlength:"Máximo 20 letras"
                },
            }
        }
    ); 

</script>

{% endblock %}