{% extends './plantilla.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>NUEVO DESARROLLADOR </h1>
        <form action="guardarDesarrollador" id="form_desarrollador" 
        enctype="multipart/form-data" 
        method="post" >
            {% csrf_token %}
            <label for="">Nombre</label><br>
            <input required placeholder="Ingrese el nombre" class="form-control" type="text" name="nombre" id="nombre"><br>

            <label for="">Apellido</label><br>
            <input required class="form-control" type="text" name="apellido" id="apellido"><br>

            <label for="">Especialidad</label><br>
            <input required class="form-control" type="text" name="especialidad" id="especialidad"><br>

            

            <button
            class="btn btn-success" type="submit">Guardar</button>
            <a 
            class="btn btn-outline-danger" href="/desarrolladores">Cancelar</a>
        </form>
    
    </div>
    
</div>
<!--embeber codiog javascript/jquery-->

<script>
    $("#form_desarrollador").validate(
        {
            rules:{
                "nombre":{
                    required:true,
                    minlength:5,
                    maxlength:20
                },
                "apellido":{
                    required:true,
                    minlength:5,
                    maxlength:20
                },
                "Especialidad":{
                    required:true,
                    minlength:5,
                    maxlength:20
                }
            },
            messages:{
                "nombre":{
                    required:"Ingrese el nombre",
                    minlength:"Mínimo 5 letras",
                    maxlength:"Máximo 20 letras"
                },
                "apellido":{
                    required:"Ingrese el apellido",
                    minlength:"Mínimo 5 letras",
                    maxlength:"Máximo 20 letras"
                },
                "especialidad":{
                    required:"Ingrese la especialidad",
                    minlength:"Mínimo 5 letras",
                    maxlength:"Máximo 20 letras"
                }
            }
        }
    ); 

</script>



{% endblock %}